.container-fluid {
  height: 500px;
}

.row {
  height: 500px;
}

.box1 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: yellow;
  color: white;
  /* height: 100px; */
}

.box2 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: orange;
  color: white;
  /* height: 100px; */
}

.box3 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: blue;
  color: white;
  /* height: 100px; */
}
